# regexp: lookahead (?=) and lookbehind (?<=)

---
* author:  [Prasert Kanawattanachai](prasert.k@chula.ac.th)
* YouTube: https://www.youtube.com/prasertcbs
* github: https://github.com/prasertcbs/
* [Chulalongkorn Business School](https://www.cbs.chula.ac.th/en/)
---

In [1]:
import sys
import re
import pandas as pd

In [2]:
print(f'Python version:  {sys.version}')
print(f'pandas version:  {pd.__version__}')

pd.Timestamp.now()
# pd.Timestamp.now().strftime('%Y-%m-%d')

Python version:  3.7.9 (default, Aug 31 2020, 17:10:11) [MSC v.1916 64 bit (AMD64)]
pandas version:  1.2.1

Timestamp('2021-02-10 07:02:19.596018')

In [12]:
df=pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/gem.txt', header=None, names=['item'])
df

                                    item
0               Amber (แอมเบอร์) = อำพัน
1     Amethyst (แอมมิธิสท์) = พลอยสีม่วง
2            Crystal (คริสทัล) = คริสตัล
3               Diamond (ไดมอนด์) = เพชร
4          Emerald (เอมเมอเริลด์) = มรกต
5               Garnet (การ์เนท) = โกเมน
6                   Gold (โกลด์) = ทองคำ
7                       Jade (เจด) = หยก
8                        Jet (เจท) = นิล
9                  Opal (โอเพิล) = โอปอล
10               Pearl (เพิร์ล) = ไข่มุก
11        Platinum (แพลทินัม) = ทองคำขาว
12                  Ruby (รูบิ) = ทับทิม
13          Sapphire (แซพไฟเออะ) = ไพลิน
14              Silver (ซิลเวอร์) = เงิน
15  Turquoise (เทอร์ควอยซ) = เทอร์ควอยซ์
16               Zircon (เซอคอน) = เพทาย

In [21]:
df[df['item'].str.contains('jade', case=False)]

               item
7  Jade (เจด) = หยก

In [17]:
df['item'].str.findall(r'\(\S+\)')

0         [(แอมเบอร์)]
1       [(แอมมิธิสท์)]
2          [(คริสทัล)]
3          [(ไดมอนด์)]
4     [(เอมเมอเริลด์)]
5          [(การ์เนท)]
6            [(โกลด์)]
7              [(เจด)]
8              [(เจท)]
9           [(โอเพิล)]
10          [(เพิร์ล)]
11        [(แพลทินัม)]
12            [(รูบิ)]
13       [(แซพไฟเออะ)]
14        [(ซิลเวอร์)]
15      [(เทอร์ควอยซ)]
16          [(เซอคอน)]
Name: item, dtype: object

## lookahead (?=)

In [4]:
df['en']=df['item'].str.findall(r'\w+(?= \()') # ตัวอักษรที่อยู่ก่อน (
df

                                    item           en
0               Amber (แอมเบอร์) = อำพัน      [Amber]
1     Amethyst (แอมมิธิสท์) = พลอยสีม่วง   [Amethyst]
2            Crystal (คริสทัล) = คริสตัล    [Crystal]
3               Diamond (ไดมอนด์) = เพชร    [Diamond]
4          Emerald (เอมเมอเริลด์) = มรกต    [Emerald]
5               Garnet (การ์เนท) = โกเมน     [Garnet]
6                   Gold (โกลด์) = ทองคำ       [Gold]
7                       Jade (เจด) = หยก       [Jade]
8                        Jet (เจท) = นิล        [Jet]
9                  Opal (โอเพิล) = โอปอล       [Opal]
10               Pearl (เพิร์ล) = ไข่มุก      [Pearl]
11        Platinum (แพลทินัม) = ทองคำขาว   [Platinum]
12                  Ruby (รูบิ) = ทับทิม       [Ruby]
13          Sapphire (แซพไฟเออะ) = ไพลิน   [Sapphire]
14              Silver (ซิลเวอร์) = เงิน     [Silver]
15  Turquoise (เทอร์ควอยซ) = เทอร์ควอยซ์  [Turquoise]
16               Zircon (เซอคอน) = เพทาย     [Zircon]

In [5]:
df['en']=df['item'].str.findall(r'\w+(?= \()') # ตัวอักษรที่อยู่ก่อน (
df

                                    item           en
0               Amber (แอมเบอร์) = อำพัน      [Amber]
1     Amethyst (แอมมิธิสท์) = พลอยสีม่วง   [Amethyst]
2            Crystal (คริสทัล) = คริสตัล    [Crystal]
3               Diamond (ไดมอนด์) = เพชร    [Diamond]
4          Emerald (เอมเมอเริลด์) = มรกต    [Emerald]
5               Garnet (การ์เนท) = โกเมน     [Garnet]
6                   Gold (โกลด์) = ทองคำ       [Gold]
7                       Jade (เจด) = หยก       [Jade]
8                        Jet (เจท) = นิล        [Jet]
9                  Opal (โอเพิล) = โอปอล       [Opal]
10               Pearl (เพิร์ล) = ไข่มุก      [Pearl]
11        Platinum (แพลทินัม) = ทองคำขาว   [Platinum]
12                  Ruby (รูบิ) = ทับทิม       [Ruby]
13          Sapphire (แซพไฟเออะ) = ไพลิน   [Sapphire]
14              Silver (ซิลเวอร์) = เงิน     [Silver]
15  Turquoise (เทอร์ควอยซ) = เทอร์ควอยซ์  [Turquoise]
16               Zircon (เซอคอน) = เพทาย     [Zircon]

In [6]:
df['en2']=df['item'].str.findall(r'\w+(?= \()').map(lambda v: v[0]) # ตัวอักษรที่อยู่ก่อน (
df

                                    item           en        en2
0               Amber (แอมเบอร์) = อำพัน      [Amber]      Amber
1     Amethyst (แอมมิธิสท์) = พลอยสีม่วง   [Amethyst]   Amethyst
2            Crystal (คริสทัล) = คริสตัล    [Crystal]    Crystal
3               Diamond (ไดมอนด์) = เพชร    [Diamond]    Diamond
4          Emerald (เอมเมอเริลด์) = มรกต    [Emerald]    Emerald
5               Garnet (การ์เนท) = โกเมน     [Garnet]     Garnet
6                   Gold (โกลด์) = ทองคำ       [Gold]       Gold
7                       Jade (เจด) = หยก       [Jade]       Jade
8                        Jet (เจท) = นิล        [Jet]        Jet
9                  Opal (โอเพิล) = โอปอล       [Opal]       Opal
10               Pearl (เพิร์ล) = ไข่มุก      [Pearl]      Pearl
11        Platinum (แพลทินัม) = ทองคำขาว   [Platinum]   Platinum
12                  Ruby (รูบิ) = ทับทิม       [Ruby]       Ruby
13          Sapphire (แซพไฟเออะ) = ไพลิน   [Sapphire]   Sapphire
14              Silver (ซิลเวอร์) = เงิน     [Silver]     Silver
15  Turquoise (เทอร์ควอยซ) = เทอร์ควอยซ์  [Turquoise]  Turquoise
16               Zircon (เซอคอน) = เพทาย     [Zircon]     Zircon

In [7]:
df['en']=df['en'].map(lambda v: v[0])

In [8]:
df

                                    item         en        en2
0               Amber (แอมเบอร์) = อำพัน      Amber      Amber
1     Amethyst (แอมมิธิสท์) = พลอยสีม่วง   Amethyst   Amethyst
2            Crystal (คริสทัล) = คริสตัล    Crystal    Crystal
3               Diamond (ไดมอนด์) = เพชร    Diamond    Diamond
4          Emerald (เอมเมอเริลด์) = มรกต    Emerald    Emerald
5               Garnet (การ์เนท) = โกเมน     Garnet     Garnet
6                   Gold (โกลด์) = ทองคำ       Gold       Gold
7                       Jade (เจด) = หยก       Jade       Jade
8                        Jet (เจท) = นิล        Jet        Jet
9                  Opal (โอเพิล) = โอปอล       Opal       Opal
10               Pearl (เพิร์ล) = ไข่มุก      Pearl      Pearl
11        Platinum (แพลทินัม) = ทองคำขาว   Platinum   Platinum
12                  Ruby (รูบิ) = ทับทิม       Ruby       Ruby
13          Sapphire (แซพไฟเออะ) = ไพลิน   Sapphire   Sapphire
14              Silver (ซิลเวอร์) = เงิน     Silver     Silver
15  Turquoise (เทอร์ควอยซ) = เทอร์ควอยซ์  Turquoise  Turquoise
16               Zircon (เซอคอน) = เพทาย     Zircon     Zircon

## lookahead (?=) and lookbehind (?<=)

In [9]:
df['item'].str.findall(r'(?<=\().*(?=\))') # ตัวอักษรที่อยู่ใน ()

0         [แอมเบอร์]
1       [แอมมิธิสท์]
2          [คริสทัล]
3          [ไดมอนด์]
4     [เอมเมอเริลด์]
5          [การ์เนท]
6            [โกลด์]
7              [เจด]
8              [เจท]
9           [โอเพิล]
10          [เพิร์ล]
11        [แพลทินัม]
12            [รูบิ]
13       [แซพไฟเออะ]
14        [ซิลเวอร์]
15      [เทอร์ควอยซ]
16          [เซอคอน]
Name: item, dtype: object

In [10]:
df['item'].str.findall(r'(?<== ).*') # ตัวอักษรที่อยู่หลัง =space

0           [อำพัน]
1      [พลอยสีม่วง]
2         [คริสตัล]
3            [เพชร]
4            [มรกต]
5           [โกเมน]
6           [ทองคำ]
7             [หยก]
8             [นิล]
9           [โอปอล]
10         [ไข่มุก]
11       [ทองคำขาว]
12         [ทับทิม]
13          [ไพลิน]
14           [เงิน]
15    [เทอร์ควอยซ์]
16          [เพทาย]
Name: item, dtype: object

In [11]:
df['item'].str.extract(r'(?P<en>.*)\s+\((?P<pronunciation>.*)\)\s+\=\s+(?P<th>.*)')

           en pronunciation           th
0       Amber      แอมเบอร์        อำพัน
1    Amethyst    แอมมิธิสท์   พลอยสีม่วง
2     Crystal       คริสทัล      คริสตัล
3     Diamond       ไดมอนด์         เพชร
4     Emerald  เอมเมอเริลด์         มรกต
5      Garnet       การ์เนท        โกเมน
6        Gold         โกลด์        ทองคำ
7        Jade           เจด          หยก
8         Jet           เจท          นิล
9        Opal        โอเพิล        โอปอล
10      Pearl        เพิร์ล       ไข่มุก
11   Platinum      แพลทินัม     ทองคำขาว
12       Ruby          รูบิ       ทับทิม
13   Sapphire     แซพไฟเออะ        ไพลิน
14     Silver      ซิลเวอร์         เงิน
15  Turquoise    เทอร์ควอยซ  เทอร์ควอยซ์
16     Zircon        เซอคอน        เพทาย