# Data cleansing
* multi-level columns
* deep copy
* regex

---
* author:  [Prasert Kanawattanachai](prasert.k@chula.ac.th)
* YouTube: https://www.youtube.com/prasertcbs
* github: https://github.com/prasertcbs/
* [Chulalongkorn Business School](https://www.cbs.chula.ac.th/en/)
---

In [1]:
import sys
import re
import pandas as pd

In [2]:
print(f'Python version:  {sys.version}')
print(f'pandas version:  {pd.__version__}')

pd.Timestamp.now()
# pd.Timestamp.now().strftime('%Y-%m-%d')

Python version:  3.7.7 (default, Mar 26 2020, 10:32:53)
[Clang 4.0.1 (tags/RELEASE_401/final)]
pandas version:  1.2.1

Timestamp('2021-02-10 10:38:01.860455')

In [3]:
url='https://th.wikipedia.org/wiki/%E0%B8%88%E0%B8%B1%E0%B8%87%E0%B8%AB%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B9%80%E0%B8%8A%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B8%A3%E0%B8%B2%E0%B8%A2'
dfs=pd.read_html(url, match='อุณหภูมิสูงสุด')
dfs

[                 ข้อมูลภูมิอากาศของจังหวัดเชียงราย  \
                                              เดือน
 0                     อุณหภูมิสูงสุดเฉลี่ย °C (°F)
 1                   อุณหภูมิเฉลี่ยแต่ละวัน °C (°F)
 2                     อุณหภูมิต่ำสุดเฉลี่ย °C (°F)
 3                             หยาดน้ำฟ้า มม (นิ้ว)
 4                            วันที่มีฝนตกโดยเฉลี่ย
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                     \
                                               ม.ค.
 0                                       27.6(81.7)
 1                                         18.9(66)
 2                                       11.9(53.4)
 3                                       12.2(0.48)
 4                                                2
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                     \
                                               ก.พ.
 0                                       30.9(87.6)
 1                                         21.1(70)
 2                                       12.9(55.2)
 3                                       7.8(0.307)
 4                                                1
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                     \
                                              มี.ค.
 0                                       33.5(92.3)
 1                                       24.1(75.4)
 2                                       15.9(60.6)
 3                                      19.1(0.752)
 4                                                3
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                     \
                                              เม.ย.
 0                                       34.9(94.8)
 1                                       26.8(80.2)
 2                                       19.7(67.5)
 3                                      89.8(3.535)
 4                                               10
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                     \
                                               พ.ค.
 0                                       33.2(91.8)
 1                                       27.0(80.6)
 2                                       22.0(71.6)
 3                                     203.9(8.028)
 4                                               17
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                     \
                                              มิ.ย.
 0                                       31.7(89.1)
 1                                       26.8(80.2)
 2                                       22.9(73.2)
 3                                     211.2(8.315)
 4                                               19
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                     \
                                               ก.ค.
 0                                       30.9(87.6)
 1                                       26.4(79.5)
 2                                         22.8(73)
 3                                    308.2(12.134)
 4                                               22
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                     \
                                               ส.ค.
 0                                       30.6(87.1)
 1                                         26.1(79)
 2                                       22.6(72.7)
 3                                    385.4(15.173)
 4                                               24
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                     \
                                               ก.ย.
 0                                       30.6(87.1)
 1                                       25.8(78.4)
 2                                       22.0(71.6)
 3                                    268.4(10.567)
 4                                               18
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                     \
                                               ต.ค.
 0                                       29.8(85.6)
 1                                       24.5(76.1)
 2                                       20.3(68.5)
 3                                     142.4(5.606)
 4                                               12
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                     \
                                               พ.ย.
 0                                       28.2(82.8)
 1                                       22.0(71.6)
 2                                       17.0(62.6)
 3                                      60.5(2.382)
 4                                                6
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                     \
                                               ธ.ค.
 0                                       26.5(79.7)
 1                                       18.8(65.8)
 2                                         12.8(55)
 3                                      24.6(0.969)
 4                                                3
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]


                                             ทั้งปี
 0                                       30.7(87.3)
 1                                       24.0(75.2)
 2                                       18.6(65.5)
 3                                  1,733.5(68.248)
 4                                              137
 5  แหล่งที่มา1: Thai Meteorological Department[16]
 6         แหล่งที่มา 2: Hong Kong Observatory [17]  ]

In [4]:
len(dfs)

1

In [5]:
dfs[0]

                 ข้อมูลภูมิอากาศของจังหวัดเชียงราย  \
                                             เดือน
0                     อุณหภูมิสูงสุดเฉลี่ย °C (°F)
1                   อุณหภูมิเฉลี่ยแต่ละวัน °C (°F)
2                     อุณหภูมิต่ำสุดเฉลี่ย °C (°F)
3                             หยาดน้ำฟ้า มม (นิ้ว)
4                            วันที่มีฝนตกโดยเฉลี่ย
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ม.ค.
0                                       27.6(81.7)
1                                         18.9(66)
2                                       11.9(53.4)
3                                       12.2(0.48)
4                                                2
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ก.พ.
0                                       30.9(87.6)
1                                         21.1(70)
2                                       12.9(55.2)
3                                       7.8(0.307)
4                                                1
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                             มี.ค.
0                                       33.5(92.3)
1                                       24.1(75.4)
2                                       15.9(60.6)
3                                      19.1(0.752)
4                                                3
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                             เม.ย.
0                                       34.9(94.8)
1                                       26.8(80.2)
2                                       19.7(67.5)
3                                      89.8(3.535)
4                                               10
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              พ.ค.
0                                       33.2(91.8)
1                                       27.0(80.6)
2                                       22.0(71.6)
3                                     203.9(8.028)
4                                               17
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                             มิ.ย.
0                                       31.7(89.1)
1                                       26.8(80.2)
2                                       22.9(73.2)
3                                     211.2(8.315)
4                                               19
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ก.ค.
0                                       30.9(87.6)
1                                       26.4(79.5)
2                                         22.8(73)
3                                    308.2(12.134)
4                                               22
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ส.ค.
0                                       30.6(87.1)
1                                         26.1(79)
2                                       22.6(72.7)
3                                    385.4(15.173)
4                                               24
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ก.ย.
0                                       30.6(87.1)
1                                       25.8(78.4)
2                                       22.0(71.6)
3                                    268.4(10.567)
4                                               18
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ต.ค.
0                                       29.8(85.6)
1                                       24.5(76.1)
2                                       20.3(68.5)
3                                     142.4(5.606)
4                                               12
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              พ.ย.
0                                       28.2(82.8)
1                                       22.0(71.6)
2                                       17.0(62.6)
3                                      60.5(2.382)
4                                                6
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ธ.ค.
0                                       26.5(79.7)
1                                       18.8(65.8)
2                                         12.8(55)
3                                      24.6(0.969)
4                                                3
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]


                                            ทั้งปี
0                                       30.7(87.3)
1                                       24.0(75.2)
2                                       18.6(65.5)
3                                  1,733.5(68.248)
4                                              137
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

In [6]:
df=dfs[0].copy()
df

                 ข้อมูลภูมิอากาศของจังหวัดเชียงราย  \
                                             เดือน
0                     อุณหภูมิสูงสุดเฉลี่ย °C (°F)
1                   อุณหภูมิเฉลี่ยแต่ละวัน °C (°F)
2                     อุณหภูมิต่ำสุดเฉลี่ย °C (°F)
3                             หยาดน้ำฟ้า มม (นิ้ว)
4                            วันที่มีฝนตกโดยเฉลี่ย
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ม.ค.
0                                       27.6(81.7)
1                                         18.9(66)
2                                       11.9(53.4)
3                                       12.2(0.48)
4                                                2
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ก.พ.
0                                       30.9(87.6)
1                                         21.1(70)
2                                       12.9(55.2)
3                                       7.8(0.307)
4                                                1
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                             มี.ค.
0                                       33.5(92.3)
1                                       24.1(75.4)
2                                       15.9(60.6)
3                                      19.1(0.752)
4                                                3
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                             เม.ย.
0                                       34.9(94.8)
1                                       26.8(80.2)
2                                       19.7(67.5)
3                                      89.8(3.535)
4                                               10
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              พ.ค.
0                                       33.2(91.8)
1                                       27.0(80.6)
2                                       22.0(71.6)
3                                     203.9(8.028)
4                                               17
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                             มิ.ย.
0                                       31.7(89.1)
1                                       26.8(80.2)
2                                       22.9(73.2)
3                                     211.2(8.315)
4                                               19
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ก.ค.
0                                       30.9(87.6)
1                                       26.4(79.5)
2                                         22.8(73)
3                                    308.2(12.134)
4                                               22
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ส.ค.
0                                       30.6(87.1)
1                                         26.1(79)
2                                       22.6(72.7)
3                                    385.4(15.173)
4                                               24
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ก.ย.
0                                       30.6(87.1)
1                                       25.8(78.4)
2                                       22.0(71.6)
3                                    268.4(10.567)
4                                               18
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ต.ค.
0                                       29.8(85.6)
1                                       24.5(76.1)
2                                       20.3(68.5)
3                                     142.4(5.606)
4                                               12
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              พ.ย.
0                                       28.2(82.8)
1                                       22.0(71.6)
2                                       17.0(62.6)
3                                      60.5(2.382)
4                                                6
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

                                                    \
                                              ธ.ค.
0                                       26.5(79.7)
1                                       18.8(65.8)
2                                         12.8(55)
3                                      24.6(0.969)
4                                                3
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]


                                            ทั้งปี
0                                       30.7(87.3)
1                                       24.0(75.2)
2                                       18.6(65.5)
3                                  1,733.5(68.248)
4                                              137
5  แหล่งที่มา1: Thai Meteorological Department[16]
6         แหล่งที่มา 2: Hong Kong Observatory [17]

In [7]:
df.columns

MultiIndex([('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',  'เดือน'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',   'ม.ค.'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',   'ก.พ.'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',  'มี.ค.'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',  'เม.ย.'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',   'พ.ค.'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',  'มิ.ย.'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',   'ก.ค.'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',   'ส.ค.'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',   'ก.ย.'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',   'ต.ค.'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',   'พ.ย.'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย',   'ธ.ค.'),
            ('ข้อมูลภูมิอากาศของจังหวัดเชียงราย', 'ทั้งปี')],
           )

In [8]:
df.columns.get_level_values(1)

Index(['เดือน', 'ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.',
       'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.', 'ทั้งปี'],
      dtype='object')

In [9]:
df.columns=df.columns.get_level_values(1)
df

,เดือน,ม.ค.,ก.พ.,มี.ค.,เม.ย.,พ.ค.,มิ.ย.,ก.ค.,ส.ค.,ก.ย.,ต.ค.,พ.ย.,ธ.ค.,ทั้งปี
0,อุณหภูมิสูงสุดเฉลี่ย °C (°F),27.6(81.7),30.9(87.6),33.5(92.3),34.9(94.8),33.2(91.8),31.7(89.1),30.9(87.6),30.6(87.1),30.6(87.1),29.8(85.6),28.2(82.8),26.5(79.7),30.7(87.3)
1,อุณหภูมิเฉลี่ยแต่ละวัน °C (°F),18.9(66),21.1(70),24.1(75.4),26.8(80.2),27.0(80.6),26.8(80.2),26.4(79.5),26.1(79),25.8(78.4),24.5(76.1),22.0(71.6),18.8(65.8),24.0(75.2)
2,อุณหภูมิต่ำสุดเฉลี่ย °C (°F),11.9(53.4),12.9(55.2),15.9(60.6),19.7(67.5),22.0(71.6),22.9(73.2),22.8(73),22.6(72.7),22.0(71.6),20.3(68.5),17.0(62.6),12.8(55),18.6(65.5)
3,หยาดน้ำฟ้า มม (นิ้ว),12.2(0.48),7.8(0.307),19.1(0.752),89.8(3.535),203.9(8.028),211.2(8.315),308.2(12.134),385.4(15.173),268.4(10.567),142.4(5.606),60.5(2.382),24.6(0.969),"1,733.5(68.248)"
4,วันที่มีฝนตกโดยเฉลี่ย,2,1,3,10,17,19,22,24,18,12,6,3,137
5,แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16]
6,แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17]

In [10]:
df

,เดือน,ม.ค.,ก.พ.,มี.ค.,เม.ย.,พ.ค.,มิ.ย.,ก.ค.,ส.ค.,ก.ย.,ต.ค.,พ.ย.,ธ.ค.,ทั้งปี
0,อุณหภูมิสูงสุดเฉลี่ย °C (°F),27.6(81.7),30.9(87.6),33.5(92.3),34.9(94.8),33.2(91.8),31.7(89.1),30.9(87.6),30.6(87.1),30.6(87.1),29.8(85.6),28.2(82.8),26.5(79.7),30.7(87.3)
1,อุณหภูมิเฉลี่ยแต่ละวัน °C (°F),18.9(66),21.1(70),24.1(75.4),26.8(80.2),27.0(80.6),26.8(80.2),26.4(79.5),26.1(79),25.8(78.4),24.5(76.1),22.0(71.6),18.8(65.8),24.0(75.2)
2,อุณหภูมิต่ำสุดเฉลี่ย °C (°F),11.9(53.4),12.9(55.2),15.9(60.6),19.7(67.5),22.0(71.6),22.9(73.2),22.8(73),22.6(72.7),22.0(71.6),20.3(68.5),17.0(62.6),12.8(55),18.6(65.5)
3,หยาดน้ำฟ้า มม (นิ้ว),12.2(0.48),7.8(0.307),19.1(0.752),89.8(3.535),203.9(8.028),211.2(8.315),308.2(12.134),385.4(15.173),268.4(10.567),142.4(5.606),60.5(2.382),24.6(0.969),"1,733.5(68.248)"
4,วันที่มีฝนตกโดยเฉลี่ย,2,1,3,10,17,19,22,24,18,12,6,3,137
5,แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16],แหล่งที่มา1: Thai Meteorological Department[16]
6,แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17],แหล่งที่มา 2: Hong Kong Observatory [17]

In [11]:
df.drop([5, 6], inplace=True)

In [12]:
s='12.2(0.48)'
re.findall(r'\d+', s)

['12', '2', '0', '48']

In [13]:
s='12.2(0.48)'
re.findall(r'\d+\.?\d*', s)

['12.2', '0.48']

In [14]:
s='12(0.48)'
re.findall(r'\d+\.?\d+', s)

['12', '0.48']

In [15]:
s='12'
re.findall(r'\d+\.?\d*', s)

['12']

In [16]:
s='2(0.48)'
re.findall(r'\d+\.?\d*', s)

['2', '0.48']

In [17]:
df['ม.ค.']

0    27.6(81.7)
1      18.9(66)
2    11.9(53.4)
3    12.2(0.48)
4             2
Name: ม.ค., dtype: object

In [28]:
df['ม.ค.'].str.extract(r'(.*)\(')

      0
0  27.6
1  18.9
2  11.9
3  12.2
4   NaN

In [32]:
df['ม.ค.'].str.findall(r'\d+\.?\d*')

0    [27.6, 81.7]
1      [18.9, 66]
2    [11.9, 53.4]
3    [12.2, 0.48]
4             [2]
Name: ม.ค., dtype: object

In [125]:
df['ม.ค.'].map(lambda s: re.findall(r'\d+\.?\d*', s)).map(lambda s: s[0])

0    27.6
1    18.9
2    11.9
3    12.2
4       2
Name: ม.ค., dtype: object

In [93]:
df['ม.ค.'].str.extract(r'(\d+\.?\d*)')

      0
0  27.6
1  18.9
2  11.9
3  12.2
4     2

In [103]:
df.loc[:, 'ม.ค.':'ทั้งปี']=df.loc[:, 'ม.ค.':'ทั้งปี'].applymap(lambda s: re.sub(r',', '', s))
df

,เดือน,ม.ค.,ก.พ.,มี.ค.,เม.ย.,พ.ค.,มิ.ย.,ก.ค.,ส.ค.,ก.ย.,ต.ค.,พ.ย.,ธ.ค.,ทั้งปี
0,อุณหภูมิสูงสุดเฉลี่ย °C (°F),27.6,30.9,33.5,34.9,33.2,31.7,30.9,30.6,30.6,29.8,28.2,26.5,30.7
1,อุณหภูมิเฉลี่ยแต่ละวัน °C (°F),18.9,21.1,24.1,26.8,27.0,26.8,26.4,26.1,25.8,24.5,22.0,18.8,24.0
2,อุณหภูมิต่ำสุดเฉลี่ย °C (°F),11.9,12.9,15.9,19.7,22.0,22.9,22.8,22.6,22.0,20.3,17.0,12.8,18.6
3,หยาดน้ำฟ้า มม (นิ้ว),12.2,7.8,19.1,89.8,203.9,211.2,308.2,385.4,268.4,142.4,60.5,24.6,1733.5
4,วันที่มีฝนตกโดยเฉลี่ย,2,1,3,10,17,19,22,24,18,12,6,3,137

In [104]:
df.loc[:, 'ม.ค.':'ทั้งปี']=df.loc[:, 'ม.ค.':'ทั้งปี'].applymap(lambda s: re.sub(r',', '', s)).applymap(lambda s: re.findall(r'\d+\.?\d*', s))
df

,เดือน,ม.ค.,ก.พ.,มี.ค.,เม.ย.,พ.ค.,มิ.ย.,ก.ค.,ส.ค.,ก.ย.,ต.ค.,พ.ย.,ธ.ค.,ทั้งปี
0,อุณหภูมิสูงสุดเฉลี่ย °C (°F),[27.6],[30.9],[33.5],[34.9],[33.2],[31.7],[30.9],[30.6],[30.6],[29.8],[28.2],[26.5],[30.7]
1,อุณหภูมิเฉลี่ยแต่ละวัน °C (°F),[18.9],[21.1],[24.1],[26.8],[27.0],[26.8],[26.4],[26.1],[25.8],[24.5],[22.0],[18.8],[24.0]
2,อุณหภูมิต่ำสุดเฉลี่ย °C (°F),[11.9],[12.9],[15.9],[19.7],[22.0],[22.9],[22.8],[22.6],[22.0],[20.3],[17.0],[12.8],[18.6]
3,หยาดน้ำฟ้า มม (นิ้ว),[12.2],[7.8],[19.1],[89.8],[203.9],[211.2],[308.2],[385.4],[268.4],[142.4],[60.5],[24.6],[1733.5]
4,วันที่มีฝนตกโดยเฉลี่ย,[2],[1],[3],[10],[17],[19],[22],[24],[18],[12],[6],[3],[137]

In [102]:
df.loc[:, 'ม.ค.':'ทั้งปี']=df.loc[:, 'ม.ค.':'ทั้งปี'].applymap(lambda s: re.sub(r',', '', s)).applymap(lambda s: re.findall(r'\d+\.?\d*', s)).applymap(lambda s: s[0])
df

,เดือน,ม.ค.,ก.พ.,มี.ค.,เม.ย.,พ.ค.,มิ.ย.,ก.ค.,ส.ค.,ก.ย.,ต.ค.,พ.ย.,ธ.ค.,ทั้งปี
0,อุณหภูมิสูงสุดเฉลี่ย °C (°F),27.6,30.9,33.5,34.9,33.2,31.7,30.9,30.6,30.6,29.8,28.2,26.5,30.7
1,อุณหภูมิเฉลี่ยแต่ละวัน °C (°F),18.9,21.1,24.1,26.8,27.0,26.8,26.4,26.1,25.8,24.5,22.0,18.8,24.0
2,อุณหภูมิต่ำสุดเฉลี่ย °C (°F),11.9,12.9,15.9,19.7,22.0,22.9,22.8,22.6,22.0,20.3,17.0,12.8,18.6
3,หยาดน้ำฟ้า มม (นิ้ว),12.2,7.8,19.1,89.8,203.9,211.2,308.2,385.4,268.4,142.4,60.5,24.6,1733.5
4,วันที่มีฝนตกโดยเฉลี่ย,2,1,3,10,17,19,22,24,18,12,6,3,137

In [99]:
df.loc[:, 'ม.ค.':'ทั้งปี'].applymap(lambda s: re.findall(r'\d+\.?\d*', s)).applymap(lambda s: s[0])

,ม.ค.,ก.พ.,มี.ค.,เม.ย.,พ.ค.,มิ.ย.,ก.ค.,ส.ค.,ก.ย.,ต.ค.,พ.ย.,ธ.ค.,ทั้งปี
0,27.6,30.9,33.5,34.9,33.2,31.7,30.9,30.6,30.6,29.8,28.2,26.5,30.7
1,18.9,21.1,24.1,26.8,27.0,26.8,26.4,26.1,25.8,24.5,22.0,18.8,24.0
2,11.9,12.9,15.9,19.7,22.0,22.9,22.8,22.6,22.0,20.3,17.0,12.8,18.6
3,12.2,7.8,19.1,89.8,203.9,211.2,308.2,385.4,268.4,142.4,60.5,24.6,1
4,2,1,3,10,17,19,22,24,18,12,6,3,137

In [41]:
# dfs[0]

In [27]:
# df.drop([4], inplace=True)
# df

  ข้อมูลภูมิอากาศของจังหวัดเชียงราย                                       \
                              เดือน        ม.ค.        ก.พ.        มี.ค.
0      อุณหภูมิสูงสุดเฉลี่ย °C (°F)  27.6(81.7)  30.9(87.6)   33.5(92.3)
1    อุณหภูมิเฉลี่ยแต่ละวัน °C (°F)    18.9(66)    21.1(70)   24.1(75.4)
2      อุณหภูมิต่ำสุดเฉลี่ย °C (°F)  11.9(53.4)  12.9(55.2)   15.9(60.6)
3              หยาดน้ำฟ้า มม (นิ้ว)  12.2(0.48)  7.8(0.307)  19.1(0.752)

                                                                          \
         เม.ย.          พ.ค.         มิ.ย.           ก.ค.           ส.ค.
0   34.9(94.8)    33.2(91.8)    31.7(89.1)     30.9(87.6)     30.6(87.1)
1   26.8(80.2)    27.0(80.6)    26.8(80.2)     26.4(79.5)       26.1(79)
2   19.7(67.5)    22.0(71.6)    22.9(73.2)       22.8(73)     22.6(72.7)
3  89.8(3.535)  203.9(8.028)  211.2(8.315)  308.2(12.134)  385.4(15.173)


            ก.ย.          ต.ค.         พ.ย.         ธ.ค.           ทั้งปี
0     30.6(87.1)    29.8(85.6)   28.2(82.8)   26.5(79.7)       30.7(87.3)
1     25.8(78.4)    24.5(76.1)   22.0(71.6)   18.8(65.8)       24.0(75.2)
2     22.0(71.6)    20.3(68.5)   17.0(62.6)     12.8(55)       18.6(65.5)
3  268.4(10.567)  142.4(5.606)  60.5(2.382)  24.6(0.969)  1,733.5(68.248)

In [28]:
dfs[0]

  ข้อมูลภูมิอากาศของจังหวัดเชียงราย                                       \
                              เดือน        ม.ค.        ก.พ.        มี.ค.
0      อุณหภูมิสูงสุดเฉลี่ย °C (°F)  27.6(81.7)  30.9(87.6)   33.5(92.3)
1    อุณหภูมิเฉลี่ยแต่ละวัน °C (°F)    18.9(66)    21.1(70)   24.1(75.4)
2      อุณหภูมิต่ำสุดเฉลี่ย °C (°F)  11.9(53.4)  12.9(55.2)   15.9(60.6)
3              หยาดน้ำฟ้า มม (นิ้ว)  12.2(0.48)  7.8(0.307)  19.1(0.752)

                                                                          \
         เม.ย.          พ.ค.         มิ.ย.           ก.ค.           ส.ค.
0   34.9(94.8)    33.2(91.8)    31.7(89.1)     30.9(87.6)     30.6(87.1)
1   26.8(80.2)    27.0(80.6)    26.8(80.2)     26.4(79.5)       26.1(79)
2   19.7(67.5)    22.0(71.6)    22.9(73.2)       22.8(73)     22.6(72.7)
3  89.8(3.535)  203.9(8.028)  211.2(8.315)  308.2(12.134)  385.4(15.173)


            ก.ย.          ต.ค.         พ.ย.         ธ.ค.           ทั้งปี
0     30.6(87.1)    29.8(85.6)   28.2(82.8)   26.5(79.7)       30.7(87.3)
1     25.8(78.4)    24.5(76.1)   22.0(71.6)   18.8(65.8)       24.0(75.2)
2     22.0(71.6)    20.3(68.5)   17.0(62.6)     12.8(55)       18.6(65.5)
3  268.4(10.567)  142.4(5.606)  60.5(2.382)  24.6(0.969)  1,733.5(68.248)

---

In [7]:
df=dfs[0][:-2].copy()
df

  ข้อมูลภูมิอากาศของจังหวัดเชียงราย                                       \
                              เดือน        ม.ค.        ก.พ.        มี.ค.
0      อุณหภูมิสูงสุดเฉลี่ย °C (°F)  27.6(81.7)  30.9(87.6)   33.5(92.3)
1    อุณหภูมิเฉลี่ยแต่ละวัน °C (°F)    18.9(66)    21.1(70)   24.1(75.4)
2      อุณหภูมิต่ำสุดเฉลี่ย °C (°F)  11.9(53.4)  12.9(55.2)   15.9(60.6)
3              หยาดน้ำฟ้า มม (นิ้ว)  12.2(0.48)  7.8(0.307)  19.1(0.752)
4             วันที่มีฝนตกโดยเฉลี่ย           2           1            3

                                                                          \
         เม.ย.          พ.ค.         มิ.ย.           ก.ค.           ส.ค.
0   34.9(94.8)    33.2(91.8)    31.7(89.1)     30.9(87.6)     30.6(87.1)
1   26.8(80.2)    27.0(80.6)    26.8(80.2)     26.4(79.5)       26.1(79)
2   19.7(67.5)    22.0(71.6)    22.9(73.2)       22.8(73)     22.6(72.7)
3  89.8(3.535)  203.9(8.028)  211.2(8.315)  308.2(12.134)  385.4(15.173)
4           10            17            19             22             24


            ก.ย.          ต.ค.         พ.ย.         ธ.ค.           ทั้งปี
0     30.6(87.1)    29.8(85.6)   28.2(82.8)   26.5(79.7)       30.7(87.3)
1     25.8(78.4)    24.5(76.1)   22.0(71.6)   18.8(65.8)       24.0(75.2)
2     22.0(71.6)    20.3(68.5)   17.0(62.6)     12.8(55)       18.6(65.5)
3  268.4(10.567)  142.4(5.606)  60.5(2.382)  24.6(0.969)  1,733.5(68.248)
4             18            12            6            3              137

In [8]:
df.columns.get_level_values(1)

Index(['เดือน', 'ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.',
       'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.', 'ทั้งปี'],
      dtype='object')

In [9]:
df.columns=df.columns.get_level_values(1)
df

,เดือน,ม.ค.,ก.พ.,มี.ค.,เม.ย.,พ.ค.,มิ.ย.,ก.ค.,ส.ค.,ก.ย.,ต.ค.,พ.ย.,ธ.ค.,ทั้งปี
0,อุณหภูมิสูงสุดเฉลี่ย °C (°F),27.6(81.7),30.9(87.6),33.5(92.3),34.9(94.8),33.2(91.8),31.7(89.1),30.9(87.6),30.6(87.1),30.6(87.1),29.8(85.6),28.2(82.8),26.5(79.7),30.7(87.3)
1,อุณหภูมิเฉลี่ยแต่ละวัน °C (°F),18.9(66),21.1(70),24.1(75.4),26.8(80.2),27.0(80.6),26.8(80.2),26.4(79.5),26.1(79),25.8(78.4),24.5(76.1),22.0(71.6),18.8(65.8),24.0(75.2)
2,อุณหภูมิต่ำสุดเฉลี่ย °C (°F),11.9(53.4),12.9(55.2),15.9(60.6),19.7(67.5),22.0(71.6),22.9(73.2),22.8(73),22.6(72.7),22.0(71.6),20.3(68.5),17.0(62.6),12.8(55),18.6(65.5)
3,หยาดน้ำฟ้า มม (นิ้ว),12.2(0.48),7.8(0.307),19.1(0.752),89.8(3.535),203.9(8.028),211.2(8.315),308.2(12.134),385.4(15.173),268.4(10.567),142.4(5.606),60.5(2.382),24.6(0.969),"1,733.5(68.248)"
4,วันที่มีฝนตกโดยเฉลี่ย,2,1,3,10,17,19,22,24,18,12,6,3,137

In [10]:
df.apply(lambda v: v.str.replace(',', ''))

,เดือน,ม.ค.,ก.พ.,มี.ค.,เม.ย.,พ.ค.,มิ.ย.,ก.ค.,ส.ค.,ก.ย.,ต.ค.,พ.ย.,ธ.ค.,ทั้งปี
0,อุณหภูมิสูงสุดเฉลี่ย °C (°F),27.6(81.7),30.9(87.6),33.5(92.3),34.9(94.8),33.2(91.8),31.7(89.1),30.9(87.6),30.6(87.1),30.6(87.1),29.8(85.6),28.2(82.8),26.5(79.7),30.7(87.3)
1,อุณหภูมิเฉลี่ยแต่ละวัน °C (°F),18.9(66),21.1(70),24.1(75.4),26.8(80.2),27.0(80.6),26.8(80.2),26.4(79.5),26.1(79),25.8(78.4),24.5(76.1),22.0(71.6),18.8(65.8),24.0(75.2)
2,อุณหภูมิต่ำสุดเฉลี่ย °C (°F),11.9(53.4),12.9(55.2),15.9(60.6),19.7(67.5),22.0(71.6),22.9(73.2),22.8(73),22.6(72.7),22.0(71.6),20.3(68.5),17.0(62.6),12.8(55),18.6(65.5)
3,หยาดน้ำฟ้า มม (นิ้ว),12.2(0.48),7.8(0.307),19.1(0.752),89.8(3.535),203.9(8.028),211.2(8.315),308.2(12.134),385.4(15.173),268.4(10.567),142.4(5.606),60.5(2.382),24.6(0.969),1733.5(68.248)
4,วันที่มีฝนตกโดยเฉลี่ย,2,1,3,10,17,19,22,24,18,12,6,3,137

In [11]:
df.loc[:, 'ม.ค.':].apply(lambda v: v.str.replace(',', ''))

,ม.ค.,ก.พ.,มี.ค.,เม.ย.,พ.ค.,มิ.ย.,ก.ค.,ส.ค.,ก.ย.,ต.ค.,พ.ย.,ธ.ค.,ทั้งปี
0,27.6(81.7),30.9(87.6),33.5(92.3),34.9(94.8),33.2(91.8),31.7(89.1),30.9(87.6),30.6(87.1),30.6(87.1),29.8(85.6),28.2(82.8),26.5(79.7),30.7(87.3)
1,18.9(66),21.1(70),24.1(75.4),26.8(80.2),27.0(80.6),26.8(80.2),26.4(79.5),26.1(79),25.8(78.4),24.5(76.1),22.0(71.6),18.8(65.8),24.0(75.2)
2,11.9(53.4),12.9(55.2),15.9(60.6),19.7(67.5),22.0(71.6),22.9(73.2),22.8(73),22.6(72.7),22.0(71.6),20.3(68.5),17.0(62.6),12.8(55),18.6(65.5)
3,12.2(0.48),7.8(0.307),19.1(0.752),89.8(3.535),203.9(8.028),211.2(8.315),308.2(12.134),385.4(15.173),268.4(10.567),142.4(5.606),60.5(2.382),24.6(0.969),1733.5(68.248)
4,2,1,3,10,17,19,22,24,18,12,6,3,137

In [12]:
df.loc[:, 'ม.ค.':]=df.loc[:, 'ม.ค.':].apply(lambda v: v.str.replace(',', ''))
df

,เดือน,ม.ค.,ก.พ.,มี.ค.,เม.ย.,พ.ค.,มิ.ย.,ก.ค.,ส.ค.,ก.ย.,ต.ค.,พ.ย.,ธ.ค.,ทั้งปี
0,อุณหภูมิสูงสุดเฉลี่ย °C (°F),27.6(81.7),30.9(87.6),33.5(92.3),34.9(94.8),33.2(91.8),31.7(89.1),30.9(87.6),30.6(87.1),30.6(87.1),29.8(85.6),28.2(82.8),26.5(79.7),30.7(87.3)
1,อุณหภูมิเฉลี่ยแต่ละวัน °C (°F),18.9(66),21.1(70),24.1(75.4),26.8(80.2),27.0(80.6),26.8(80.2),26.4(79.5),26.1(79),25.8(78.4),24.5(76.1),22.0(71.6),18.8(65.8),24.0(75.2)
2,อุณหภูมิต่ำสุดเฉลี่ย °C (°F),11.9(53.4),12.9(55.2),15.9(60.6),19.7(67.5),22.0(71.6),22.9(73.2),22.8(73),22.6(72.7),22.0(71.6),20.3(68.5),17.0(62.6),12.8(55),18.6(65.5)
3,หยาดน้ำฟ้า มม (นิ้ว),12.2(0.48),7.8(0.307),19.1(0.752),89.8(3.535),203.9(8.028),211.2(8.315),308.2(12.134),385.4(15.173),268.4(10.567),142.4(5.606),60.5(2.382),24.6(0.969),1733.5(68.248)
4,วันที่มีฝนตกโดยเฉลี่ย,2,1,3,10,17,19,22,24,18,12,6,3,137

In [ ]:
df['มี.ค.']

In [ ]:
df['มี.ค.'].str.extract(r'(\d+\.?\d*)', expand=False)

In [ ]:
df['มี.ค.'].str.extract(r'\((\d+\.?\d*)\)', expand=False)

In [ ]:
for c in ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.', 'ทั้งปี']:
    df[c][:-1]=df[c][:-1].str.extract(r'(\d+\.?\d*)', expand=False)

In [ ]:
df

In [ ]:
df.loc[:, 'ม.ค.':]=df.loc[:, 'ม.ค.':].astype(float)

In [ ]:
df.info()

In [ ]:
df.loc[:, 'ม.ค.':'ธ.ค.'].mean(axis=1)

In [ ]:
df.sum(axis=0)

---

## method 2

In [ ]:
df=dfs[0][:-2].copy()
df

In [ ]:
df.columns=df.columns.get_level_values(1)
df

In [ ]:
df['มี.ค.'][:-1]

In [ ]:
df['มี.ค.'][:-1].str.extract(r'(.*)\((.*)\)')[0] # two groups

In [ ]:
df['มี.ค.'][:-1].str.extract(r'(.*)\(.*\)')[0] # single group

In [ ]:
df.columns

In [ ]:
for c in ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.', 'ทั้งปี']:
    df[c][:-1]=df[c][:-1].str.extract(r'(.*)\(.*\)')[0]

In [ ]:
df

In [ ]:
df.loc[:, 'ม.ค.':]

In [ ]:
df.loc[:, 'ม.ค.':]=df.loc[:, 'ม.ค.':].apply(lambda v: v.str.replace(',', '')).astype(float)

In [ ]:
df

In [ ]:
df.loc[:, 'ม.ค.':'ธ.ค.'].mean(axis=1)

In [ ]:
df.loc[:, 'ม.ค.':'ธ.ค.'].sum(axis=1)

In [ ]:
df.info()